/* style.css */

/* Style général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #555151;
}

h1, h3 {
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: #3498db;
}

button {
    background-color: #6b6d6c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4f5250;
}

/* Header */
.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e7d7d;
    color: white;
    padding: 10px 20px;
   
}

.header-logo h1 {
    margin: 0;
}
.header-logo a{
    font-size: 40px;
}
.header_menu a {
    margin-left: 15px;
    color: white;
    font-weight: bold;
}

.header_menu a:hover {
    text-decoration: none;
    transition: background-color 0.5s ease-out;
   
}

/* Section d'accueil */
.Accueil {
    text-align: center;
    padding: 40px 20px;
    background-color: #ecf0f1;
    margin-bottom: 30px;
}

.Accueil button {
    margin-top: 15px;
}

/* Section recettes */
.recettes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.carte {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.carte img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.carte h3 {
    margin: 15px 0 10px;
    font-size: 1.5em;
}

.carte p {
    padding: 0 15px;
    color: #7f8c8d;
    font-size: 0.9em;
}

.carte button {
    margin: 15px 0;
    width: 90%;
}

/* Effet au survol */
.carte:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Responsivité */
@media (max-width: 768px) {
    .header-logo {
        flex-direction: column;
        text-align: center;
    }

    .header_menu {
        margin-top: 10px;
    }

    .Accueil {
        padding: 20px 10px;
    }
}
