.lobster-regular {
    font-family: 'Lobster', serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Lobster', sans-serif;

    --main-bg-color: #EE7121;
    --bg-body: #F4EBDC;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-body);
}